include site-url
-
  var headerLinks = [
    {
      href: SiteUrl.SITE_1,
      text: "Страница 1"
    },
    {
      href: SiteUrl.SITE_2,
      text: "Страница 2"
    },
    {
      href: SiteUrl.SITE_3,
      text: "Страница 3"
    },
  ]
