include site-url

- var getTitle = (pageName) => `${projectName} — ${pageName}`

- var projectName = 'ProjectName'
- var title = getTitle('PageName')
- var wrapperMod = ""
- var hasHeader = true
- var headerMod = ""
- var hasFooter = true
- var footerMod = ""
- var currentPage = SiteUrl.MAIN
